
@{
    ViewBag.Title = "ComingSoon";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">

<!-- movielist07:38-->
<head>
    <!-- Basic need -->
    <title>Filmic</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="profile" href="#">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
    <!-- Mobile specific meta -->
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone-no">

    <script>
        $(document).ready(function () {
            $("script ~ div").css('display', 'none');
            $("center a").css('display', 'none');
        });
    </script>

</head>
<body>
    <!--preloading-->
    <div id="preloader">
        <img class="logo" src="~/images/newlogo1.png" alt="" width="119" height="58">
        <div id="status">
            <span></span>
            <span></span>
        </div>
    </div>
    <!--end of preloading-->
    <!--login form popup-->
    <div class="login-wrapper" id="login-content">
        <div class="login-content">
            <a href="#" class="close">x</a>
            <h3>Login</h3>
            <form method="post" action="#">
                <div class="row">
                    <label for="username">
                        Username:
                        <input type="text" name="username" id="username" placeholder="User Name" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
                    </label>
                </div>

                <div class="row">
                    <label for="password">
                        Password:
                        <input type="password" name="password" id="password" placeholder="******" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                    </label>
                </div>
                <div class="row">
                    <div class="remember">
                        <div>
                            <input type="checkbox" name="remember" value="Remember me"><span>Remember me</span>
                        </div>
                        <a style="color:black;" href="~/Home/ForgotPassword">Forget password ?</a>
                    </div>
                </div>
                <div class="row">
                    <button type="submit">Login</button>
                </div>
            </form>
            <div class="row">
                <p>Or via social</p>
                <div class="social-btn-2">
                    <a class="fb" href="#"><i class="ion-social-facebook"></i>Facebook</a>
                    <a class="tw" href="#"><i class="ion-social-twitter"></i>twitter</a>
                </div>
            </div>
        </div>
    </div>
    <!--end of login form popup-->
    <!--signup form popup-->
    <div class="login-wrapper" id="signup-content">
        <div class="login-content">
            <a href="#" class="close">x</a>
            <h3>sign up</h3>
            <form method="post" action="#">
                <div class="row">
                    <label for="username-2">
                        Username:
                        <input type="text" name="username" id="username-2" placeholder="User Name" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
                    </label>
                </div>

                <div class="row">
                    <label for="email-2">
                        your email:
                        <input type="password" name="email" id="email-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                    </label>
                </div>
                <div class="row">
                    <label for="password-2">
                        Password:
                        <input type="password" name="password" id="password-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                    </label>
                </div>
                <div class="row">
                    <label for="repassword-2">
                        re-type Password:
                        <input type="password" name="password" id="repassword-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                    </label>
                </div>
                <div class="row">
                    <button type="submit">sign up</button>
                </div>
            </form>
        </div>
    </div>
    <!--end of signup form popup-->
    <!-- BEGIN | Header -->
    <header class="ht-header">
        <div class="container">
            <nav class="navbar navbar-default navbar-custom">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header logo">
                    @*<div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <div id="nav-icon1">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>*@
                    <a href="~/Home/Index"><img class="logo" src="~/images/newlogo1.png" alt="" width="30" height="30"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav flex-child-menu menu-left">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="dropdown first">
                            <a href="~/Home/MovieGrid" class="btn btn-default dropdown-toggle lv1">
                                movies
                            </a>
                        </li>

                        <li class="dropdown first">
                            <a href="~/Home/TVShows" class="btn btn-default dropdown-toggle lv1">
                                tv shows
                            </a>
                        </li>

                        <li class="dropdown first">
                            <a href="~/Home/CelebrityGrid" class="btn btn-default dropdown-toggle lv1">
                                celebrities
                            </a>
                        </li>
                        <li class="dropdown first">
                            <a href="~/Home/BlogList" class="btn btn-default dropdown-toggle lv1">
                                news
                            </a>
                        </li>
                        <li class="dropdown first">
                            <a href="~/Home/ShowTime" class="btn btn-default dropdown-toggle lv1">
                                Showtime
                            </a>
                        </li>
                        <li class="dropdown first">
                            <a href="~/Home/ComingSoon" class="btn btn-default dropdown-toggle lv1">
                                coming soon
                            </a>
                        </li>
                        @*<li class="dropdown first">
                            <a href="~/Home/UserfavoriteGrid" class="btn btn-default dropdown-toggle lv1">
                                awards
                            </a>
                        </li>*@
                        <li class="dropdown first">
                            <a href="~/Home/Trailers" class="btn btn-default dropdown-toggle lv1">
                                Trailers
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav flex-child-menu menu-right">
                        <li><a href="~/Home/Map">World Map</a></li>
                        <li class="loginLink"><a href="#">LOG In</a></li>
                        <li class="btn signupLink"><a href="#">sign up</a></li>
                        <li><a href="~/Home/UserfavoriteGrid"><img src="~/images/uploads/author3.png" alt="" width="30" height="30"><br></a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>

            <!-- top search form -->
            @*<div class="top-search">
                <select>
                    <option value="united">TV show</option>
                    <option value="saab">Others</option>
                </select>
                <input type="text" placeholder="Search for a movie, TV Show or celebrity that you are looking for">
            </div>*@
        </div>
    </header>
    <!-- END | Header -->

    <div class="hero common-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-ct">
                        <h1> coming soon</h1>
                        <ul class="breadcumb">
                            <li class="active"><a href="~/Home/Index">Home</a></li>
                            <li> <span class="ion-ios-arrow-right"></span> coming soon</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-single movie_list">
        <div class="container">
            <div class="row ipad-width2">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    
                    <div class="movie-item-style-2">
                        <img src="~/images/uploads/blackwidow.jpg" alt="" width="170px">
                        <div class="mv-item-infor">
                            <h6><a href="#">black widow </a></h6>
                            <p class="describe">A film about Natasha Romanoff in her quests between the films Civil War and Infinity War.</p>
                            <p class="run-time"> Run Time: 1h 53min    .     <span>MMPA: PG-13 </span>    .     <span>Release: 27 March 2020</span></p>
                            <p>Director: <a href="#">Cate Shortland</a></p>
                            <p>Stars: <a href="#">Scarlett Johansson,</a> <a href="#">Rachel Weisz,</a> <a href="#">  Florence Pugh</a></p>
                        </div>
                    </div>
                    <div class="movie-item-style-2">
                        <img src="~/images/uploads/cs2.jpg" alt="">
                        <div class="mv-item-infor">
                            <h6><a href="#">no time to die</a></h6>
                            <p class="describe">James Bond has left active service. His peace is short-lived when Felix Leiter, an old friend from the CIA, turns up asking for help, leading Bond onto the trail of a mysterious villain armed with dangerous new technology.</p>
                            <p class="run-time"> Run Time: 2h 43min    .     <span>MMPA: PG-13 </span>    .     <span>Release: 3 April 2020</span></p>
                            <p>Director: <a href="#">Cary Joji Fukunaga</a></p>
                            <p>Stars: <a href="#">Daniel Craig,</a> <a href="#">Ana de Armas,</a> <a href="#">Léa Seydoux</a></p>
                        </div>
                    </div>
                    <div class="movie-item-style-2">
                        <img src="~/images/uploads/cs3.jpg" alt="">
                        <div class="mv-item-infor">
                            <h6><a href="#">jungle cruise</a></h6>
                            <p class="describe">Based on Disneyland's theme park ride where a small riverboat takes a group of travelers through a jungle filled with dangerous animals and reptiles but with a supernatural element.</p>
                            <p class="run-time"> Run Time: 2h 06min    .     <span>MMPA: PG-13 </span>    .     <span>Release: 3 April 2020</span></p>
                            <p>Director: <a href="#">Jaume Collet-Serra</a></p>
                            <p>Stars: <a href="#">Emily Blunt,</a> <a href="#"> Dwayne Johnson</a> <a href="#"> Jesse Plemons</a></p>
                        </div>
                    </div>
                    <div class="movie-item-style-2">
                        <img src="~/images/uploads/cs4.jpg" alt="">
                        <div class="mv-item-infor">
                            <h6><a href="#">Artemis Fowl</a></h6>
                            <p class="describe">Artemis Fowl, a young criminal prodigy, hunts down a secret society of fairies to find his missing father.</p>
                            <p class="run-time"> Run Time: 2h 00min’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 10 April 2020</span></p>
                            <p>Director: <a href="#">Kenneth Branagh</a></p>
                            <p>Stars: <a href="#">Colin Farrell,  </a> <a href="#">  Josh Gad,</a><a href="#">Judi Dench</a></p>
                        </div>
                    </div>
                    <div class="movie-item-style-2">
                        <img src="~/images/uploads/cs5.jpg" alt="">
                        <div class="mv-item-infor">
                            <h6><a href="#">Minions: The Rise of Gru</a></h6>
                            <p class="describe">The untold story of one twelve-year-old's dream to become the world's greatest supervillain.</p>
                            <p class="run-time"> Run Time: 1h 41min    .     <span>MMPA: PG-13 </span>    .     <span>Release: 10 April 2020</span></p>
                            <p>Director: <a href="#">Kyle Balda</a></p>
                            <p>Stars: <a href="#">Alan Arkin, </a> <a href="#">Steve Carell,</a><a href="#">Jean-Claude Van Damme/a></p>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="sidebar">
                        <div class="searh-form">
                            <h4 class="sb-title">Search for movie</h4>
                            <form class="form-style-1" action="#">
                                <div class="row">
                                    <div class="col-md-12 form-it">
                                        <label>Movie name</label>
                                        <input type="text" placeholder="Enter keywords">
                                    </div>
                                    <div class="col-md-12 form-it">
                                        <label>Country List</label>

                                        <select>
                                            <option value="">-- Select --</option>
                                            <option value="saab">INDIA</option>
                                            <option value="saab">NEW ZEALAND</option>
                                            <option value="saab">USA</option>
                                            <option value="saab">RUSSIA</option>
                                            <option value="saab">KOREA</option>
                                            <option value="saab">CHINA</option>
                                            <option value="saab">UK</option>
                                        </select>

                                    </div>
                                    <div class="col-md-12 form-it">
                                        <label>Genres & Subgenres</label>
                                        <div class="group-ip">
                                            <select name="skills" multiple="" class="ui fluid dropdown">
                                                <option value="">Enter to filter genres</option>
                                                <option value="Action1">Drama</option>
                                                <option value="Action2">Sci-Fi</option>
                                                <option value="Action3">Action</option>
                                                <option value="Action4">Romance</option>
                                                <option value="Action5">Kids</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-md-12 form-it">
                                        <label>Rating Range</label>

                                        <select>
                                            <option value="range">-- Select the rating range below --</option>
                                            <option value="saab">-- Select the rating range below --</option>
                                            <option value="saab">-- Select the rating range below --</option>
                                            <option value="saab">-- Select the rating range below --</option>
                                        </select>

                                    </div>
                                    <div class="col-md-12 form-it">
                                        <label>Release Year</label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <select>
                                                    <option value="range">From</option>
                                                    <option value="number">10</option>
                                                    <option value="number">20</option>
                                                    <option value="number">30</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6">
                                                <select>
                                                    <option value="range">To</option>
                                                    <option value="number">20</option>
                                                    <option value="number">30</option>
                                                    <option value="number">40</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 ">
                                        <input class="submit" type="submit" value="submit">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer section-->
    <footer class="ht-footer">
        <div class="container">
            <div class="flex-parent-ft">
                @*<div class="flex-child-ft item1">
                        <a href="~/Home/Index"><img class="logo" src="~/images/newlogo1.png" alt=""></a>
                        <p>
                            5th Avenue<br>
                            Tauranga
                        </p>
                        <p>Call us: <a href="#">(+64) 202 342 6789</a></p>
                    </div>*@
                <table>
                    <tr>
                        <td width="50px">
                            <ul>
                                <li><a href="~/Home/About">About</a></li>
                            </ul>
                        </td>
                        <td width="50px">
                            <ul>
                                <li><a href="~/Home/PrivacyPolicy">Privacy Policy</a></li>
                            </ul>
                        </td>
                        <td width="50px">
                            <ul>
                                <li><a href="~/Home/Contact">Contact us</a></li>
                            </ul>
                        </td>
                        <td width="50px">
                            <ul>
                                <li><a href="~/Home/TermAndCondition">Terms & Conditions</a></li>
                            </ul>
                        </td>
                        <td width="50px">
                            <ul>
                                <li><a href="~/Home/SiteMap">Site Map</a></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="ft-copyright">
            <div class="backtotop">
                <p><a href="#" id="back-to-top">Back to top<i class="ion-ios-arrow-thin-up"></i></a></p>
            </div>
        </div>
    </footer>
    <!-- end of footer section-->

</body>

<!-- movielist07:38-->
</html>

