
@{
    ViewBag.Title = "TermAndCondition";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<!DOCTYPE html>

<html lang="en" class="no-js">

<!-- landing14:04-->
<head>
    <!-- Basic need -->
    <title>Filmic</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500|Nunito:300,400,600' />
    <!-- Mobile specific meta -->
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone-no">



</head>
<body>
    <!--preloading-->
    <div id="preloader">
        <img class="logo" src="~/images/newlogo1.png" alt="" width="119" height="58">
        <div id="status">
            <span></span>
            <span></span>
        </div>
    </div>
    <!--end of preloading-->
    <!--login form popup-->
    <div class="login-wrapper" id="login-content">
        <div class="login-content">
            <a href="#" class="close">x</a>
            <h3>Login</h3>
            <form method="post" action="#">
                <div class="row">
                    <label for="username">
                        Username:
                        <input type="text" name="username" id="username" placeholder="User Name" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
                    </label>
                </div>

                <div class="row">
                    <label for="password">
                        Password:
                        <input type="password" name="password" id="password" placeholder="******" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                    </label>
                </div>
                <div class="row">
                    <div class="remember">
                        <div>
                            <input type="checkbox" name="remember" value="Remember me"><span>Remember me</span>
                        </div>
                        <a href="~/Home/ForgotPassword">Forget password ?</a>
                    </div>
                </div>
                <div class="row">
                    <button type="submit">Login</button>
                </div>
            </form>
            <div class="row">
                <p>Or via social</p>
                <div class="social-btn-2">
                    <a class="fb" href="#"><i class="ion-social-facebook"></i>Facebook</a>
                    <a class="tw" href="#"><i class="ion-social-twitter"></i>twitter</a>
                </div>
            </div>
        </div>
    </div>
    <!--end of login form popup-->
    <!--signup form popup-->
    <div class="login-wrapper" id="signup-content">
        <div class="login-content">
            <a href="#" class="close">x</a>
            <h3>sign up</h3>
            <form method="post" action="#">
                <div class="row">
                    <label for="username-2">
                        Username:
                        <input type="text" name="username" id="username-2" placeholder="User Name" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
                    </label>
                </div>

                <div class="row">
                    <label for="email-2">
                        your email:
                        <input type="password" name="email" id="email-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                    </label>
                </div>
                <div class="row">
                    <label for="password-2">
                        Password:
                        <input type="password" name="password" id="password-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                    </label>
                </div>
                <div class="row">
                    <label for="repassword-2">
                        re-type Password:
                        <input type="password" name="password" id="repassword-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                    </label>
                </div>
                <div class="row">
                    <button type="submit">sign up</button>
                </div>
            </form>
        </div>
    </div>
    <!--end of signup form popup-->
    <!-- BEGIN | Header -->
    <header class="ht-header">
        <div class="container">
            <nav class="navbar navbar-default navbar-custom">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header logo">
                    @*<div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <div id="nav-icon1">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>*@
                    <a href="~/Home/Index"><img class="logo" src="~/images/newlogo1.png" alt="" width="30" height="30"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav flex-child-menu menu-left">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li class="dropdown first">
                            <a href="~/Home/MovieGrid" class="btn btn-default dropdown-toggle lv1">
                                movies
                            </a>
                        </li>

                        <li class="dropdown first">
                            <a href="~/Home/TVShows" class="btn btn-default dropdown-toggle lv1">
                                tv shows
                            </a>
                        </li>

                        <li class="dropdown first">
                            <a href="~/Home/CelebrityGrid" class="btn btn-default dropdown-toggle lv1">
                                celebrities
                            </a>
                        </li>
                        <li class="dropdown first">
                            <a href="~/Home/BlogList" class="btn btn-default dropdown-toggle lv1">
                                news
                            </a>
                        </li>
                        <li class="dropdown first">
                            <a href="~/Home/ShowTime" class="btn btn-default dropdown-toggle lv1">
                                Showtime
                            </a>
                        </li>
                        <li class="dropdown first">
                            <a href="~/Home/ComingSoon" class="btn btn-default dropdown-toggle lv1">
                                coming soon
                            </a>
                        </li>
                        @*<li class="dropdown first">
                            <a href="~/Home/UserfavoriteGrid" class="btn btn-default dropdown-toggle lv1">
                                awards
                            </a>
                        </li>*@
                        <li class="dropdown first">
                            <a href="~/Home/UserfavoriteGrid" class="btn btn-default dropdown-toggle lv1">
                                trailors
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav flex-child-menu menu-right">
                        <li><a href="~/Home/Map">World Map</a></li>
                        <li class="loginLink"><a href="#">LOG In</a></li>
                        <li class="btn signupLink"><a href="#">sign up</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>

            <!-- top search form -->
            <div class="top-search">
                <select>
                    <option value="united">TV show</option>
                    <option value="saab">Others</option>
                </select>
                <input type="text" placeholder="Search for a movie, TV Show or celebrity that you are looking for">
            </div>
        </div>
    </header>

    <div class="landing-hero">
        @*<img src="~/images/newlogo1.png" alt="Logo">*@
        <div class="row landing-hero-text">
            <h2>Terms and Conditions</h2>
            <div>
                <p class="terms-margin">
                    Generic Terms of Service Template
                    Please read these terms of service ("terms", "terms of service") carefully before using [website] website (the "service") operated by [name] ("us", 'we", "our").

                    Conditions of Use

                    We will provide their services to you, which are subject to the conditions stated below in this document. Every time you visit this website, use its services or make a purchase, you accept the following conditions. This is why we urge you to read them carefully.

                    Privacy Policy

                    Before you continue using our website we advise you to read our privacy policy [link to privacy policy] regarding our user data collection. It will help you better understand our practices.

                    Copyright

                    Content published on this website (digital downloads, images, texts, graphics, logos) is the property of [name] and/or its content creators and protected by international copyright laws. The entire compilation of the content found on this website is the exclusive property of [name], with copyright authorship for this compilation by [name].

                    Communications

                    The entire communication with us is electronic. Every time you send us an email or visit our website, you are going to be communicating with us. You hereby consent to receive communications from us. If you subscribe to the news on our website, you are going to receive regular emails from us. We will continue to communicate with you by posting news and notices on our website and by sending you emails. You also agree that all notices, disclosures, agreements and other communications we provide to you electronically meet the legal requirements that such communications be in writing.

                    Applicable Law

                    By visiting this website, you agree that the laws of the [your location], without regard to principles of conflict laws, will govern these terms of service, or any dispute of any sort that might come between [name] and you, or its business partners and associates.

                    Disputes

                    Any dispute related in any way to your visit to this website or to products you purchase from us shall be arbitrated by state or federal court [your location] and you consent to exclusive jurisdiction and venue of such courts.

                    Comments, Reviews, and Emails

                    Visitors may post content as long as it is not obscene, illegal, defamatory, threatening, infringing of intellectual property rights, invasive of privacy or injurious in any other way to third parties. Content has to be free of software viruses, political campaign, and commercial solicitation.

                    We reserve all rights (but not the obligation) to remove and/or edit such content. When you post your content, you grant [name] non-exclusive, royalty-free and irrevocable right to use, reproduce, publish, modify such content throughout the world in any media.

                    License and Site Access

                    We grant you a limited license to access and make personal use of this website. You are not allowed to download or modify it. This may be done only with written consent from us.

                    User Account

                    If you are an owner of an account on this website, you are solely responsible for maintaining the confidentiality of your private user details (username and password). You are responsible for all activities that occur under your account or password.

                    We reserve all rights to terminate accounts, edit or remove content and cancel orders in their sole discretion.
                </p>
            </div>

            <h2>Thank You</h2>
        </div>
        @*<a href="#" class="redbtn" id="discover-now">DISCOVER NOW</a>*@
    </div>

    <footer class="ht-footer">
        <div class="container">
            <div class="flex-parent-ft">
                @*<div class="flex-child-ft item1">
                    <a href="~/Home/Index"><img class="logo" src="~/images/newlogo1.png" alt=""></a>
                    <p>
                        5th Avenue<br>
                        Tauranga
                    </p>
                    <p>Call us: <a href="#">(+64) 202 342 6789</a></p>
                </div>*@
                <table>
                    <tr>
                        <td width="50px">
                            <ul>
                                <li><a href="~/Home/About">About</a></li>
                            </ul>
                        </td>
                        <td width="50px">
                            <ul>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </td>
                        <td width="50px">
                            <ul>
                                <li><a href="~/Home/Contact">Contact us</a></li>
                            </ul>
                        </td>
                        <td width="50px">
                            <ul>
                                <li><a href="~/Home/TermAndCondition">Terms & Conditions</a></li>
                            </ul>
                        </td>
                        <td width="50px">
                            <ul>
                                <li><a href="#">Site Map</a></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="ft-copyright">
            <div class="backtotop">
                <p><a href="#" id="back-to-top">Back to top<i class="ion-ios-arrow-thin-up"></i></a></p>
            </div>
        </div>
    </footer>

</body>

<!-- landing14:38-->
</html>


